/* ========== Base Reset ========== */

* {
    margin: 0;
    padding: 0;
}

/* ========== Variables ========== */

:root {
    --White_Color: #fff;
    --Dark_BG: #222222;
    --FerroFy_Theme: #e0af26;
}

/* ========== Body ========== */

body {
    overflow-x: hidden;
}

body.dark-mode .Full_Card {
    background-color: var(--FerroFy_Theme);
    color: var(--White_Color);
}

body.dark-mode .Card_Heading {
    color: var(--Dark_BG);
}

/* ========== Full Card ========== */
.Full_Card {
    width: 100vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    background-color: var(--Dark_BG);
    color: var(--White_Color);
    transition: transform 0.8s ease, opacity 0.8s ease;
    margin: 10px;
}

/* ========== Side Cards ========== */

.Card_Sides {
    display: flex;
}

/* ========== Card Heading ========== */

.Card_Heading {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--FerroFy_Theme);
}

/* ========== Card HR ========== */

.Card_HR {
    width: 95%;
    border: none;
    border-top: 2px solid currentColor;
    color: rgb(0, 255, 81);
}

/* ========== Card Text ========== */

.Card_Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.7rem;
}

.Card_Text p {
    margin: 0.3rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.Card_Text p:last-child {
    margin-bottom: 30px;
}

/* ========== Card Slides ========== */

.Card_Scroll_Animation_Right_To_Left {
    transform: translateX(80vw);
    opacity: 0.25;
}

.Card_Scroll_Animation_Left_To_Right {
    transform: translateX(-80vw);
    opacity: 0.25;
}

.card-visible {
    transform: translateX(20);
    opacity: 1;
}

.card-exit-left {
    transform: translateX(-80vw);
    opacity: 0.25;
}

.card-exit-right {
    transform: translateX(80vw);
    opacity: 0.25;
}